@import "../../styles/variaveis.scss";

#tela-sobremim {
  width: 100dvw;
  height: 100dvh;
  border-bottom: 1px solid $branco;
  background-color: $azul-04;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-sobre {
  margin: 2dvh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  .texto-e-cv {
    width: 600px;
    max-width: 90dvw;
    text-align: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.2rem;
      font-weight: 300;
    }

    button {
      width: 150px;
      height: 40px;
      margin: 2dvh auto;
      background-color: transparent;
      border: 1px solid $branco;
      font-size: 1.1rem;
      color: $branco;
      transition: ease-in 0.4s;

      &:hover {
        background-color: $azul-05;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .lista-contatos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2dvh auto;

    h2 {
      margin: 1dvh auto;
      font-size: 1.2rem;
      font-weight: 400;
      color: $branco;
      text-decoration: underline;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      list-style: none;

      .contato {
        margin: auto 5dvw;

        h4 {
          font-weight: 200;
        }

        div {
          margin: auto;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $azul-01;
          display: grid;
          place-items: center;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
}
