@import './variaveis.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  max-width: 100%;
}

body{
  background-image: url("../public/imgs/wave-haikei.svg");
  background-size: cover;
  scroll-behavior: smooth;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.nome-pagina{
  color: $azul-01;
  font-size: 1.4rem;
  margin-top: 10dvh;
  text-decoration: underline;
}

