//cores

$azul-01: #3E9FFF;
$azul-02: #1374FF;
$azul-03: #0A66C2;
$azul-04: #003EB0;
$azul-05: #0B0334;
$branco: #eef4ff;
$branco-desbotado: #eef4ff80;
$cinza-01: #3B3F45;
$preto-desbotado: #00000065;

// formas

$retangulo-cantos-arredondados: 15px 0 15px 0;


