//cores

$azul-01: #3e9fff;
$azul-02: #1374ff;
$azul-03: #0a66c2;
$azul-04: #003eb0;
$azul-05: #0b0334;
$branco: #eef4ff;
$branco-desbotado: #eef4ff80;
$cinza-01: #6a6a72;
$preto-desbotado: #00000065;

// formas

$retangulo-cantos-arredondados: 15px 0 15px 0;
$circulo: 50%;
