@import "../../styles/variaveis.scss";

#pagina-inicial {
  background-image: url("/public/imgs/wave-haikei.svg");
  background-size: cover;
  width: 100dvw;
  min-height: 100dvh;
  border-bottom: 1px solid $branco;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.conteudo-inicial {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: space-around;
  width: 90dvw;

  .introducao-e-botoes {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;

    .botoes {
      display: flex;
      margin-top: 2dvh;
      left: 0;
      width: auto;

      button {
        width: 180px;
        max-width: 25dvw;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $branco-desbotado;
        color: $branco;
        font-size: 1.1rem;
        font-weight: 600;
        transition: ease 0.4s;

        &:hover {
          cursor: pointer;
          border: 1px solid $branco;
        }
      }

      .btn-linkedin {
        background-color: transparent;

        &:hover {
          background-color: $azul-03;
        }
      }

      .btn-github {
        background-color: transparent;
        margin-left: 2dvw;

        &:hover {
          background-color: $cinza-01;
        }
      }
    }
  }

  .minha-foto {
    width: 220px;
    height: 220px;

    background-color: $azul-02;
    border-radius: $circulo;
    overflow: hidden;
  }
  .minha-foto img {
    scale: 1.2;
    filter: saturate(130%) contrast(120%) brightness(90%)
      drop-shadow(0 2px 5px $preto-01);
  }
}
