@import "../../styles/variaveis.scss";

#tela-projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  border-bottom: 1px solid $branco;
  background-color: $azul-05;
}

.lista-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin: 10dvh auto;
}

.card-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 90dvw;
  height: 350px;
  background-color: $azul-04;
  position: relative;
  border-radius: 10px;

  h3 {
    position: absolute;
    top: 15px;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .box-imagem {
    width: 90%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;

    img {
      border-radius: inherit;
    }
  }

  .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 25px;
    width: 90%;

    .botao {
      width: 45%;
      height: 40px;
      border: 1px solid $branco;
      background-color: transparent;
      border-radius: 5px;
      color: $branco;
      font-size: 1.1rem;
      transition: ease-in 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    .repositorio:hover {
      background-color: $cinza-01;
    }

    .pagina:hover {
      background-color: $azul-05;
    }
  }
}
